body{
    margin: 0;
    background: #19191B;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.enver{
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%
}
.logo_icon{
    display: inline-flex;
    align-items: center;
}
header div p{
    margin-left: 8px;
}
header nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
header nav{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
header button{
    background: #19191B;
    width: 157px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}

#section1-h2{
    width: 582px;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 84px;
}

.section1-2_p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 39px;
    letter-spacing: -0.657px;
}

section button{
    width: 204px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 40px;
}
#section1{
    display: flex;
    justify-content: space-around;
}

#section2{
    padding-top: 150px;
    display: block;
    justify-content: center;
    align-items: center;
}
#section2-text_div{
    display: flex;
    justify-content: space-around;
}
#section2-img_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2-h2{
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

.section3-container{
    display: flex;
    justify-content: center;
}

#section3-h2{
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

.section3-oval_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section3-info_block{
    display: inline-block;
    text-align: center;
    align-items: center;
    height: 35vh;
    width: 28vw;
}

#section3{
    padding-top: 98px;
}

section h3{
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}

.section3-p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
}

#section4-h2{
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 8vw;
    padding-top: 100px;
}

#section4{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 260px;
}

.section4-img-block{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1E1E20;
    margin: 15px;
    height: 300px;
    width: 390px;
    border-radius: 14px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(30, 30, 32, 0.50);
    height: 506px;
}

footer h2{
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
#last-div{
    display: flex;
    background: #19191B;
    height: 190px;
    align-items: center;
    justify-content: space-around;
}

#last-div-p{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: -0.5px;
    margin-right: -250px;
    margin-bottom: 50px;
}
footer button{
    border-radius: 5px;
    background: #5454D4;
    width: 201px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal
}
button{
    border: none;
}